body {
    background-image: url("../Images/background.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
}
.logo {
    float: left;
    width: 100%;

    margin:20px auto;
    margin-bottom: 20px;

}
.logo img{
    width: 80%;
}
.sideleft {
    display:block;
    width:100%;
    margin-bottom: 30px;
    height:auto;
        position: fixed;
    top: 0;

}
#header{   
    background-color: darkslategray; 
    width: 80%;
    margin: 0px auto;
    overflow: hidden;
    list-style-type: none;
}
#header li{
    float: left;
    

        }
#header li a{
    display: block;
    width: 15%;
        padding: 0px 1%;
        font-family: monospace;
        text-align: center;
        font-size: 24px;
        color: #f5f5f5;
        text-shadow: 2px 2px black;
        text-decoration: underline;
}
div {
    text-align: center;
    display: inline;    
}
.productscontainer{
    display:block;
    width:60%;
    margin: 0 auto;
    height:150px;
    /*background-color: yellow;*/
}

.products li {
display:block;
float: left;
width:20%; 
    transform: rotateY(30deg);
    transition-property: perspective; transition-duration: 1s;
    perspective: 500px; transform-style: preserve-3d;
}
.products li a{
    width: 60%; 
    transform: rotateY(30deg);
    transition-property: perspective; transition-duration: 1s;
    perspective: 500px; transform-style: preserve-3d;
}
.products li:hover{
perspective: 5000px;
}
.products li img {

    border: 10px solid blanchedalmond; 

    transform: rotateY(30deg);
    box-shadow: 0 3px 10px black;
    transition-property: transform; transition-duration: 1s;
}
.products li img:hover{
    transform: rotateY(0deg);
}
h1{
    text-align: center;
    font-family: monospace;
    font-size: 40px;
    color: indianred;
    text-shadow: 1px 1px black;
}
h2{
    padding: 10px;
    text-align: center;
    font-family: monospace;
    font-size: 15px;
    color: indianred;
}
h3{
    padding: 10px;
    text-align: center;
    font-family: monospace;
    font-size: 24px;
    color: greenyellow;
    text-shadow: 2px 2px black;
}
h4{
    text-align: center;
    font-size: 12px;
    font-family: monospace;
    color: lightgrey;
    text-shadow:2px 2px black;
}
#cuphome{
    margin-bottom: 20px;
}
#search{
        display: block;
        width: 80px;
        padding: 0px 12px;
        padding-right: 0px;
        font-family: monospace;
        text-align: center;
        font-size: 20px;
        color: lightgray;
background-color: black;
        text-decoration: none;
}
#searchbutton{
            display: block;
        font-family: monospace;
        text-align: center;
        font-size: 20px;
        color: black;
background-color:lightgray;
        text-decoration: none;
}
p{
    margin-left: 20%;
    margin-top: 10%;

    float:left;
width: 60%;
    color: white;
    border: 1px solid white;
}
.dropbtn {
    background-color: lightgrey;
    color:black;
    padding: 16px;
    float:left;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: lightgrey;
}

.homebuttonscontainer{
    display:block;
    width:60%;
    margin: auto auto;
    height:50px;
    /*background-color: yellow;*/
}

.homebuttons li {
    display: block;
    float: left;

    width: 20%;
}

.homebuttons li button{

    width: 60%;
    
}
.productsimage{
    width:20%;
    border: 3px solid black;
    margin: 0 auto;
    list-style-type: none;
}
.productspagecontainer{
        display:block;
    width:40%;
    margin: 0 auto;
    height:50px;
list-style-type: none;

}
.productspage li {
    display: block;
    float: left;
list-style-type: none;
    width: 23%;
        padding-bottom: 10px;
}
.productspage li button{

    width: 60%;
    list-style-type: none;
}
.productsimagecontainer{
display:block;
width: 100%;
margin: 0 auto;
height: 200px;
}
.productpageimages{
    border: 3px solid black;
    margin: 0 auto;
}
.productpageimages li{
    display: block;
    float: left;
    width: 25%
}


.logo2 {
    float: left;
    width: 100%;

    margin:20px auto;
    margin-bottom: 20px;
    transform: translatey(-100px);
}
.maintextbox{
    float: left;
    border: 2px solid lightgray;
    width: 20%;
    margin-left: 40%;
    margin-top: 30px;
}
footer{
    color: whitesmoke;
    width: 100%;
}
.video{
    margin-left: 40%;
}